[submodule "dyld"]
	path = dyld
	url = https://github.com/rolfbjarne/dyld.git
[submodule "llvm"]
	path = llvm
	url = http://llvm.org/git/llvm.git
[submodule "cctools"]
	path = cctools
	url = git@github.com:rolfbjarne/cctools
